<p>How likely is it that you would recommend this company to a friend or colleague?</p>

<% 0.upto(10).each do |i| %>
  <%= link_to i, new_rating_url(score: i), style: "padding: 4px 8px; color: #222; text-decoration: none; border: 1px solid #eee; border-radius: 4px" %>
<% end %>
